<app-pipes></app-pipes>
<app-simple-crud></app-simple-crud>

<h2>Hello Ali {{ title }}</h2>
<app-user-list></app-user-list>
<app-user-list></app-user-list>
<app-country></app-country>
<app-student></app-student>
<app-student2></app-student2>
<!-- <button (click)="getName('Mohsin')">Click Me</button>
<input
  type="text"
  #box1
  placeholder="keyup box"
  (keyup)="getName(box1.value)"
/>
<input
  type="text"
  #box2
  placeholder="keydown box"
  (keydown)="getName(box2.value)"
/> -->

<input type="text" #box placeholder="enter value" />
<button (click)="getValue(box.value)">Click</button>
<h3>Entered value is:{{ displayValue }}</h3>
<app-counter></app-counter>
<app-if-else></app-if-else>
<app-switch></app-switch>
<app-for-loop></app-for-loop>
<app-form></app-form>
<app-material-design></app-material-design>
